body {
  background-color: black;
  /* background-size: cover;
    background-position: center; */
  /* background-image: url(../images/background33.jpg); */
  justify-content: center;
  align-items: center;
}


.cover {
  background-image: url(../images/cover.jpg);
  width: 100%;
  height: 920px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  position: relative;
}


.cover-heading {
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
}

.cover-title {
  color: #d3d3d3;
}

.cards {
  display: flex;
  justify-content: center;
  gap: 100px;
  align-items: center;
  background-position: center;
}

.allcard {
  background-color: #d3d3d3;
  text-align: center;
  width: 300px;
  height: 190px;
}

.insta {
  width: 30px;
  height: 30px;
  margin-top: 5px;
  margin-right: 5px;
}

.x {
  width: 20px;
  height: 20px;
  margin-top: 10px;
}

.fb {
  width: 40px;
  height: 40px;
}

.heading {
  margin-top: 100px;
  margin-bottom: 100px;
  text-align: center;
  color: #d3d3d3;
}

.card1 {
  background-image: url(../images/milan.jpg);
}

.card2 {
  background-image: url(../images/elan.jpg);
}

.card3 {
  background-image: url(../images/ecell.jpg);
}

.card-container {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  width: 60%;
  height: 300px;
  /* border: 5px solid grey;
    border-radius: 5px; */
  display: flex;
  gap: 10px;
}

.cards {
  position: relative;
  left: 0;
  width: 80px;
  border-radius: 5px;
  padding: 8px;
  height: auto;
  transition: .5s all;
  flex: 1;
  font-size: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: #abb67d;
}

/* .cards {
    flex: 1;
    cursor: pointer;
} */

.cards:hover {
  flex: 2;
}

.update-content {
  justify-content: center;
  text-align: center;
  color: #abb67d;
  font-size: 40px;
}

.thumbnilimg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 550px;
  height: 285px;
  margin-bottom: 250px;
  border: 5px solid gray;
  border-radius: 18px;
  padding: 5px;
}

.text-body-primary {
  color: #d3d3d3;
}

.nav-pills .nav-link {
  color: rgb(196, 199, 193);
}

.footerBack {
  background-color: gray;
}

.logo {
  margin-left: 10px;
  width: 250px;
  height: 50px;
}